@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 32px;
        --font_size_title_s: 24px;
    }



    /*------------
        Header
    ------------*/
    header .mob_menu_btn
    {
        display: flex;
    }


    header .menu
    {
        position: absolute;
        top: 100%;
        left: 100%;

        flex-direction: column;

        width: 200px;
        margin: 0;
        padding: var(--cont_padding);

        transition: transform .3s linear;

        color: var(--dark_color);
        background: var(--light_color);
    }


    header .menu.show
    {
        transform: translateX(-100%);
    }


    header .menu_item > a
    {
        opacity: 1;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .contact_methods label div
    {
        height: 48px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .title
    {
        width: 424px;
    }


    .first_section .desc
    {
        width: 368px;
    }


    .first_section .bg img
    {
        object-position: 40% 50%;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .block_head .title
    {
        width: calc(100% - 168px);
    }


    .catalog .block_head .desc
    {
        width: calc(100% - 168px);
        margin-left: auto;
    }


    .catalog .swiper-slide
    {
        width: 240px;
    }


    .catalog .swiper-slide.big
    {
        width: 348px;
    }



    /*----------
        Calc
    ----------*/
    .calc .block_head,
    .calc .details,
    .calc .plan
    {
        padding: var(--cont_padding);
    }



    /*-----------
        Steps
    -----------*/
    .steps .step
    {
        padding-left: 40px;

        gap: var(--cont_padding);
    }


    .steps .step .number
    {
        width: 132px;

        font-size: 90px;
        line-height: 96px;
    }


    .steps .step .name
    {
        width: 200px;
        margin-top: 8px;

        font-size: 20px;
    }


    .steps .step .desc,
    .steps .step .desc.big
    {
        width: calc(100% - 380px);
    }



    /*----------------
        advantages
    ----------------*/
    .advantages .block_head .pre_title
    {
        width: 100%;
        margin-top: 0;
    }


    .advantages .block_head > div:first-child
    {
        order: 2;

        width: 100%;
    }


    .advantages .grid
    {
        height: 570px;
    }


    .advantages .grid .item1
    {
        width: 33.333%;
        height: 381px;
    }


    .advantages .grid .item2
    {
        left: calc(33.333% - 1px);

        width: calc(33.333% + 1px);
        height: calc(33.333% + 1px);
    }


    .advantages .grid .item3
    {
        right: 0;

        width: calc(33.333% + 1px);
        height: calc(33.333% + 1px);
    }


    .advantages .grid .item4
    {
        top: 33.333%;
        left: calc(33.333% - 1px);

        width: calc(33.333% + 1px);
        height: calc(33.333% + 1px);
    }


    .advantages .grid .item5
    {
        top: 33.333%;
        right: 0;
        bottom: auto;
        left: auto;

        width: calc(33.333% + 1px);
        height: calc(33.333% + 1px);
    }


    .advantages .grid .item6
    {
        right: 0;

        width: 100%;
        height: 33.333%;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .data
    {
        width: calc(50% - var(--cont_padding));

        gap: var(--cont_padding);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .swiper-slide
    {
        width: 320px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info:before
    {
        display: none;
    }


    .product_info .images
    {
        width: 100%;
    }


    .product_info .data
    {
        position: relative;
        top: 0;

        width: 100%;
        margin-top: var(--cont_padding);
    }


    .product_info .data .head
    {
        margin-bottom: var(--inner_gap);
    }


    .product_info .info
    {
        width: 100%;
        margin-top: var(--cont_padding);
    }



    /*-------------------
        Category head
    -------------------*/
    .category_head .title
    {
        width: 424px;
    }


    .category_head .bg
    {
        width: 1280px;
    }


    .category_head .shadow:before
    {
        height: 100px;
    }


    .category_head .shadow .darking3
    {
        top: 144px;
    }



    /*------------
        Filter
    ------------*/
    .filter .mini_modal
    {
        width: 100%;
        margin-top: var(--inner_gap_s);
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .count
    {
        font-size: 15px;
    }



    /*--------------
        Products
    --------------*/
    .products .grid_row
    {
        --count_per_line: 2;
    }



    .products .action
    {
        gap: var(--inner_gap);
    }


    .products .action .title
    {
        width: 248px;
    }


    .products .action .desc
    {
        width: 236px;
    }


    .products .action .whatsapp_link
    {
        width: 154px;
        margin-left: 0;
    }



    /*-----------
        PopUp
    -----------*/
    .modal_title
    {
        font-size: 28px;
    }


    .modal .form
    {
        margin-top: var(--cont_padding);

        --form_input_height: 52px;
    }
}
