@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --font_size_title: 28px;
        --font_size_title_s: 22px;
    }


    .swiper-controls
    {
        display: none;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        width: calc(100% - 52px);

        font-size: 15px;
        line-height: calc(100% + 8px);
    }


    .accordion_item .head .icon
    {
        width: 32px;
        height: 32px;
    }


    .accordion_item .head .icon svg
    {
        width: 15px;
        height: 15px;
    }



    /*-------------------
        Load more btn
    -------------------*/
    .load_more_btn
    {
        width: 180px;
        height: 44px;
    }



    /*------------
        Header
    ------------*/
    header .phones
    {
        font-size: 14px;
    }


    header .messengers a
    {
        width: 40px;
        height: 40px;
    }


    header .mob_menu_btn
    {
        width: 40px;
        height: 40px;
    }


    header .mob_menu_btn span
    {
        width: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: var(--inner_gap);
    }


    .breadcrumbs
    {
        font-size: 12px;
    }


    .breadcrumbs .sep
    {
        margin-inline: 4px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_input_height: 44px;
    }


    .form .whatsapp_link,
    .form .submit_btn
    {
        height: 44px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: calc(100% + 10px);
    }


    .text_block h1
    {
        margin-bottom: 32px;
    }


    .text_block h2
    {
        margin-bottom: 24px;

        font-size: var(--font_size_title_s);
    }


    .text_block h3
    {
        margin-bottom: 24px;

        font-size: 18px;
    }


    .text_block hr
    {
        margin-block: 24px;
    }


    .text_block .cols
    {
        gap: var(--cont_padding);
    }


    .text_block .cols .col
    {
        width: 100%;
    }


    .text_block .action_btn
    {
        height: 44px;
    }


    .text_block .btns .grid_row
    {
        --count_per_line: 2;
    }


    .text_block .btns .btn
    {
        height: 44px;
    }


    .text_block table th
    {
        height: 44px;
        padding-block: 11px;
        padding-inline: 15px;
    }


    .text_block table td
    {
        padding: 11px 15px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        display: flex;
        flex-direction: column;

        padding-bottom: 68px;
    }


    .first_section .cont
    {
        order: 2;

        padding-block: 0;
    }


    .first_section .desc
    {
        width: 100%;
    }


    .first_section .info
    {
        width: 100%;
    }


    .first_section .info .btn
    {
        height: 44px;
    }


    .first_section .bg
    {
        position: relative;

        width: 200%;
        margin-top: var(--cont_padding);
        margin-bottom: -60px;
        margin-left: -75%;
    }


    .first_section .bg:before
    {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 50%;

        content: '';

        background: linear-gradient(to bottom, #000 5%, rgba(0,0,0,.0) 100%);
    }



    /*-------------
        Catalog
    -------------*/
    .catalog
    {
        margin-bottom: 68px;
    }


    .catalog .block_head .title,
    .catalog .block_head .desc
    {
        width: 100%;
        padding-left: calc(var(--cont_padding_double));
    }


    .catalog .swiper-slide
    {
        width: 220px;
    }


    .catalog .swiper-slide.big
    {
        width: 320px;
    }



    /*----------
        Calc
    ----------*/
    .calc .block_head .title,
    .calc .block_head .desc
    {
        width: 100%;
    }


    .calc .details
    {
        width: 100%;
    }


    .calc .plan
    {
        width: 100%;

        border-top: 1px solid;
        border-left: none;
    }


    .calc .bottom > div:first-child
    {
        width: 100%;

        text-align: center;
    }


    .calc .bottom .exp
    {
        justify-content: center;
    }


    .calc .bottom .link a
    {
        height: 44px;
        padding-inline: var(--cont_padding_double);
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block
    {
        padding-block: 68px;
    }



    /*-----------
        Steps
    -----------*/
    .steps
    {
        margin-bottom: 68px;
        padding-block: 68px;
    }


    .steps .block_head .title,
    .steps .block_head .desc
    {
        width: 100%;
        padding-inline: var(--cont_padding);
    }


    .steps .step
    {
        padding-left: var(--cont_padding);
    }


    .steps .step .number
    {
        width: 100px;

        font-size: 60px;
        line-height: 64px;
    }


    .steps .step .name
    {
        align-self: center;

        width: calc(100% - 120px);
        margin-top: 0;

        font-size: 18px;
    }


    .steps .step .desc,
    .steps .step .desc.big
    {
        width: 100%;
        margin-top: 0;
    }



    /*----------------
        advantages
    ----------------*/
    .advantages.big_m
    {
        margin-bottom: 80px;
    }


    .advantages.top_border
    {
        padding-top: 68px;
    }


    .advantages .grid
    {
        height: 758px;
    }


    .advantages .grid .item1
    {
        width: 50%;
        height: 380px;
    }


    .advantages .grid .item2
    {
        left: calc(50% - 1px);

        width: calc(50% + 1px);
        height: 190px;
    }


    .advantages .grid .item3
    {
        top: 189px;

        width: calc(50% + 1px);
        height: 191px;
    }


    .advantages .grid .item4
    {
        top: 379px;
        left: 0;

        width: 50%;
        height: 190px;
    }


    .advantages .grid .item5
    {
        top: 379px;
        left: calc(50% - 1px);

        width: calc(50% + 1px);
        height: 190px;
    }


    .advantages .grid .item6
    {
        height: 190px;
    }


    .advantages .grid .item .name
    {
        font-size: 15px;
    }



    .advantages .row
    {
        gap: 40px var(--inner_gap);
    }


    .advantages .row .item
    {
        width: calc(50% - var(--inner_gap_s));
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 68px;
        padding-block: 60px;
    }


    .about_info .data
    {
        width: 100%;
    }


    .about_info .link a
    {
        height: 44px;
    }


    .about_info .map
    {
        width: 100%;
        height: 280px;
        margin-top: var(--cont_padding_double);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        margin-bottom: 68px;
        padding-bottom: 68px;
    }


    .reviews .block_head > div:first-child
    {
        max-width: 100%;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ
    {
        margin-bottom: 80px;
    }


    .FAQ .block_head
    {
        margin-bottom: 32px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        padding-block: var(--cont_padding) 68px;
    }


    .product_info .data .model
    {
        font-size: 15px;
    }


    .product_info .data .articul
    {
        line-height: calc(100% + 8px);
    }


    .product_info .data .buy .btn,
    .product_info .data .btns .btn
    {
        height: 44px;
    }



    /*-------------------
        Category head
    -------------------*/
    .category_head
    {
        padding-block: 160px 48px;
    }


    .category_head .desc:before
    {
        height: 48px;
    }


    .category_head .bg
    {
        width: 1024px;
    }


    .category_head .shadow .darking3
    {
        top: 88px;
    }



    /*------------
        Filter
    ------------*/
    .filter .item
    {
        width: 100%;
    }


    .filter .item + .item
    {
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-left: none;
    }


    .filter .mini_modal
    {
        width: calc(100% - 20px);
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 68px;
    }


    .category_info .count
    {
        font-size: 12px;
    }



    /*--------------
        Products
    --------------*/
    .products .grid_row
    {
        --count_per_line: 1;
    }


    .products .product .buy .btn
    {
        width: calc(100% - 45px);
        height: 44px;
    }


    .products .product .buy .whatsapp_link
    {
        width: 44px;
        height: 44px;
    }



    .products .action .title
    {
        width: 100%;

        text-align: center;
    }


    .products .action .desc
    {
        width: 100%;

        text-align: center;
    }


    .products .action .desc span
    {
        width: 100%;
        max-width: 100%;
    }


    .products .action .desc .icon
    {
        margin-inline: auto;
        margin-top: var(--inner_gap_s);

        transform: rotate(90deg);
    }


    .products .action .whatsapp_link
    {
        width: 180px;
        height: 44px;
    }



    /*------------
        Footer
    ------------*/
    footer .col
    {
        width: 50%;
        padding-right: var(--cont_padding_double);
    }


    footer .links
    {
        width: 50%;
        padding-left: var(--cont_padding_double);
    }


    footer .links ~ .links
    {
        padding-right: var(--cont_padding_double);
        padding-left: 0;

        border-top: 1px solid rgba(255, 255, 255, .1);
    }


    footer .contacts
    {
        width: 50%;
        padding-left: var(--cont_padding_double);

        border-top: 1px solid rgba(255, 255, 255, .1);
    }


    footer .links + .sep
    {
        display: none;
    }


    footer .col + .sep,
    footer .links ~ .links + .sep
    {
        display: block;

        margin-left: -1px;
    }
}
