@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --custom_scroll_width: 5px;
        --custom_scroll_height: 5px;
        --font_size_title: 36px;
        --font_size_title_s: 24px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 60px;
        height: 60px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding-block: var(--cont_padding_half);
        padding-inline: var(--cont_padding) var(--cont_padding_half);
    }


    .accordion_item .data
    {
        margin-top: 0;
        padding-block: 0 var(--cont_padding);
        padding-inline: var(--cont_padding) var(--cont_padding_half);
    }


    .accordion_item .text_block
    {
        width: 520px;

        line-height: calc(100% + 8px);
    }



    /*-------------------
        Load more btn
    -------------------*/
    .load_more_btn
    {
        height: 48px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        gap: var(--cont_padding);
    }


    header .messengers a
    {
        width: 48px;
        height: 48px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: var(--cont_padding);
    }


    .breadcrumbs
    {
        line-height: calc(100% + 8px);
    }


    .breadcrumbs .sep
    {
        margin-inline: 8px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_input_height: 48px;
    }


    .form .whatsapp_link,
    .form .submit_btn
    {
        height: 48px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: calc(100% + 12px);
    }


    .text_block h1
    {
        margin-bottom: 30px;
    }


    .text_block h2
    {
        margin-bottom: 30px;

        font-size: 28px;
    }


    .text_block h3
    {
        margin-bottom: 30px;

        font-size: 24px;
    }


    .text_block hr
    {
        margin-block: 30px;
    }


    .text_block .cols
    {
        margin-block: 40px;
    }


    .text_block .cols .col
    {
        width: calc(50% - 15px);
    }


    .text_block .images_slider
    {
        margin-block: var(--cont_padding_double);
    }


    .text_block .action_btn
    {
        width: 220px;
        height: 48px;
        margin-block: 30px;
    }


    .text_block .btns
    {
        margin-block: 30px;
    }


    .text_block .btns .btn
    {
        height: 48px;
        padding-inline: var(--inner_gap);
    }


    .text_block .table_wrap
    {
        margin-block: var(--cont_padding_double);
    }


    .text_block table th
    {
        height: 48px;
        padding-inline: 39px;
    }


    .text_block table td
    {
        padding: 15px 39px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        line-height: calc(100% + 12px);
    }


    .block_head .desc
    {
        line-height: calc(100% + 8px);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-block: 120px 100px;
    }


    .first_section .title
    {
        width: 480px;

        line-height: calc(100% + 16px);
    }


    .first_section .desc
    {
        width: 420px;
        padding-left: var(--inner_gap);

        line-height: calc(100% + 8px);
    }


    .first_section .info
    {
        margin-top: var(--cont_padding_double);
        margin-left: 0;
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }


    .first_section .info .btn
    {
        height: 48px;
    }


    .first_section .info .exp > *
    {
        padding-block: 5px 6px;
        padding-inline: 8px;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog
    {
        margin-bottom: 80px;
    }


    .catalog .block_head .pre_title
    {
        padding-left: calc(var(--cont_padding_double));
    }


    .catalog .block_head .pre_title:before
    {
        width: calc(var(--cont_padding_double) - 8px);
    }


    .catalog .block_head .title
    {
        width: 384px;
    }


    .catalog .block_head .desc
    {
        width: 384px;

        line-height: calc(100% + 12px);
    }


    .catalog .swiper-slide
    {
        width: 260px;
    }


    .catalog .swiper-slide.big
    {
        width: 384px;
    }


    .catalog .item
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }



    /*----------
        Calc
    ----------*/
    .calc
    {
        margin-bottom: 68px;
    }


    .calc .details .form
    {
        --form_line_offset: var(--inner_gap);
        --form_input_height: 60px;
    }


    .calc .plan .items
    {
        gap: var(--cont_padding);
    }



    .calc .bottom
    {
        padding-block: var(--inner_gap);

        gap: var(--cont_padding);
    }


    .calc .bottom .link a
    {
        height: 48px;
        padding-inline: var(--cont_padding);
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block
    {
        padding-block: 80px;
    }


    .order_block .block_head:after
    {
        left: -24px;

        width: 100vw;
    }


    .order_block .block_head .title
    {
        width: 560px;
    }


    .order_block .block_head .desc
    {
        width: 460px;
    }



    /*-----------
        Steps
    -----------*/
    .steps
    {
        margin-bottom: 80px;
        padding-block: 80px;
    }


    .steps .block_head
    {
        margin-bottom: 40px;
    }


    .steps .step
    {
        margin-top: 40px;
        padding-left: 80px;

        gap: 30px;
    }


    .steps .step:after
    {
        bottom: -41px;
    }


    .steps .step .name
    {
        width: 224px;
        margin-top: 10px;

        font-size: 22px;
    }


    .steps .step .desc,
    .steps .step .desc.big
    {
        width: 400px;
    }



    /*----------------
        advantages
    ----------------*/
    .advantages
    {
        margin-bottom: 80px;
    }


    .advantages.big_m
    {
        margin-bottom: 100px;
    }


    .advantages.top_border
    {
        padding-top: 80px;
    }


    .advantages .block_head
    {
        margin-bottom: var(--cont_padding_double);
    }


    .advantages .block_head .pre_title
    {
        line-height: calc(100% + 16px);
    }


    .advantages .grid:before
    {
        left: calc(var(--cont_padding) * -1);
    }


    .advantages .grid .item
    {
        padding: var(--inner_gap);
    }


    .advantages .grid .item1
    {
        width: 248px;
    }


    .advantages .grid .item2
    {
        left: 247px;

        width: 280px;
    }


    .advantages .grid .item3
    {
        width: 274px;
    }


    .advantages .grid .item5
    {
        left: 247px;

        width: 326px;
    }


    .advantages .grid .item .icon
    {
        width: 48px;
        height: 48px;
        margin-bottom: var(--inner_gap);
    }


    .advantages .grid .item .name
    {
        line-height: calc(100% + 8px);
    }


    .advantages .grid .item .desc
    {
        margin-top: var(--cont_padding_half);

        line-height: calc(100% + 10px);
    }



    .advantages .row .item .icon
    {
        width: 48px;
        height: 48px;
        margin-bottom: var(--inner_gap);
    }


    .advantages .row .item .name
    {
        font-size: 15px;
        line-height: calc(100% + 8px);
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 80px;
        padding-block: 68px;
    }


    .about_info .data
    {
        width: calc(50% - var(--cont_padding_double));

        gap: 40px;
    }


    .about_info .link a
    {
        height: 48px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        margin-bottom: 80px;
        padding-bottom: 80px;
    }


    .reviews .block_head
    {
        margin-bottom: var(--cont_padding_double);
    }


    .reviews .swiper-slide
    {
        width: 400px;
    }


    .reviews .review .info
    {
        padding: var(--cont_padding);

        gap: var(--cont_padding_half);
    }


    .reviews .review .date
    {
        margin-bottom: 0;
    }


    .reviews .review .name
    {
        line-height: calc(100% + 6px);
    }


    .reviews .review .desc
    {
        line-height: calc(100% + 8px);
    }


    .reviews .review .link a
    {
        height: 60px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ
    {
        margin-bottom: 100px;
    }


    .FAQ .block_head
    {
        margin-bottom: 40px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        padding-block: var(--cont_padding) 80px;
    }


    .product_info .images,
    .product_info .data
    {
        width: calc(50% - var(--cont_padding));
    }


    .product_info .data .head
    {
        margin-bottom: var(--cont_padding);
        padding-top: 4px;
    }


    .product_info .data .buy
    {
        margin-top: var(--cont_padding);
        padding-top: 40px;
    }


    .product_info .data .price
    {
        gap: 4px;
    }


    .product_info .data .price .old
    {
        font-size: 18px;
        line-height: calc(100% + 2px);
    }


    .product_info .data .price .current
    {
        font-size: 22px;
    }


    .product_info .data .buy .btn
    {
        width: 220px;
        height: 48px;
    }


    .product_info .data .btns
    {
        margin-top: var(--cont_padding);
    }


    .product_info .data .btns .btn
    {
        height: 48px;
        padding-inline: var(--inner_gap);
    }


    .product_info .features
    {
        padding-top: 40px;
    }



    /*---------------
        Text page
    ---------------*/
    .text_page
    {
        margin-bottom: 80px;
    }



    /*-------------------
        Category head
    -------------------*/
    .category_head
    {
        padding-block: 120px 60px;
    }


    .category_head .title
    {
        width: 440px;

        line-height: calc(100% + 16px);
    }


    .category_head .desc
    {
        width: 300px;
        padding-left: var(--inner_gap);

        line-height: calc(100% + 8px);
    }


    .category_head .desc:before
    {
        height: 60px;
    }


    .category_head .bg
    {
        width: 1440px;
    }


    .category_head .shadow:before
    {
        height: 124px;
    }


    .category_head .shadow .darking3
    {
        top: 182px;
    }



    /*------------
        Filter
    ------------*/
    .filter .mini_modal_btn
    {
        height: 48px;

        font-size: 15px;
    }


    .filter .search
    {
        padding: var(--inner_gap) var(--inner_gap) 0;
    }


    .filter .fields .checkbox
    {
        padding-block: var(--inner_gap);
        padding-inline: 50px var(--inner_gap);
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 80px;
    }


    .category_info .head
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }


    .category_info .count
    {
        font-size: 16px;
    }



    /*--------------
        Products
    --------------*/
    .products .product
    {
        padding: var(--cont_padding);
    }


    .products .product .stickers
    {
        top: 30px;
        right: 30px;

        font-size: 10px;
    }


    .products .product .thumb
    {
        margin-bottom: var(--inner_gap);
    }


    .products .product .name
    {
        font-size: 16px;
    }


    .products .product .price
    {
        margin-top: var(--inner_gap_s);
    }


    .products .product .features > *
    {
        padding-block: 6px;
        padding-inline: 8px;
    }


    .products .product .buy
    {
        margin-top: var(--inner_gap);
    }


    .products .product .buy .btn
    {
        width: calc(100% - 49px);
        height: 48px;
    }


    .products .product .buy .whatsapp_link
    {
        width: 48px;
        height: 48px;
    }



    .products .action
    {
        padding-block: var(--cont_padding_double);
        padding-inline: var(--inner_gap);
    }


    .products .action .title,
    .products .action .desc
    {
        width: 260px;
    }


    .products .action .whatsapp_link
    {
        height: 48px;
        margin-left: var(--cont_padding);
    }



    /*------------
        Footer
    ------------*/
    footer .col
    {
        width: 170px;
        padding-block: 40px;

        gap: var(--inner_gap_s);
    }



    footer .links
    {
        padding-block: 40px;

        gap: 16px;
    }


    footer .links .items.columns
    {
        gap: var(--cont_padding);
    }



    footer .contacts
    {
        padding-block: 40px;
    }
}
